html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    line-height: 1.5;
}

#heading {
  color: white;
  font-size: 5em;
  font-weight: 200;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

#tagline {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
}

#social_div{
  /*background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  width: 500px;
  padding: 20px;*/
}

#top_panel {
  right:0;
  width:100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px;
  background-image: url("./mountain-background.jpg");
  background-position: 0px -450px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
}

#video {
  position: fixed;
  top: -25vw;
  /*top: 0;*/
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 56.25vw;
  z-index: -10;
}

#apps_panel {
  padding: 50px;
  background-color: white;
  /*background-color: #00FFCC;*/
  /*border: 10px solid white;*/
  border-bottom: 0px;
}


#programming_projects_panel {
  background-color: white;
  border-top: 1px solid #E7E7E7;
  padding: 50px;
  border-bottom: 0px;
}

#hardware_panel {
  background-color: white;
  border-top: 1px solid #F7F7F7;
  padding: 50px;
}

#skills_panel {
  background-color: white;
  border-top: 1px solid #F7F7F7;
  padding: 50px;
}

#about_panel{
  background-color: white;
  border-top: 1px solid #F7F7F7;
  padding: 50px;
}

#courses_panel{
  background-color: white;
  border-top: 1px solid #F7F7F7;
  padding: 50px;
}

#footer_panel {
  color: #808080;
  padding: 20px;
  padding-bottom: 10px;
  background-color: #F7F7F7;
}

#intro_panel {
  color: #808080;
  padding: 10px;
  font-size: 1.2em;
  background-color: #F7F7F7;
}

#email {
  display: block;
  padding-bottom: 10px;
  color: white;
}

#resume_button{
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  text-decoration: none;
  background-color: #F7F7F7;
  color: #808080;
}

#about_paragraph{
  padding: 0px 20%;
}

body {
  font-family: "Raleway"; /*400 600*/
  font-weight: 400;
  text-align: center;
  color: black;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.section_image {
  display: block;
  margin: auto;
  height: 100px;
  padding-bottom: 10px;
}

.section_header {
  font-size: 2.5em;
  padding-bottom: 50px;
}

.text {
  color: #555555;
  padding-top: 10px;
  font-size: 1.5em;
}

.text:after {
  content:"\a";
  white-space: pre;
}

.footer{
  font-size: 1.5em;
}

.link {
  color: #33CCCC;
  font-size: 1.5em;
  font-style: bold;
  /*text-decoration: none;*/
}

.category{
  color: #33CCCC;
  /*font-size: 1.5em;*/
  font-style: bold;
}

.social {
  transition: -webkit-filter 0.3s, filter 0.3s;
  margin: 20px;
  width: 50px;
  color: white;
  target-new: tab;
  -webkit-filter: invert(0.7);
  filter: invert(0.7);
}

.social-dark{
  transition: -webkit-filter 0.3s, filter 0.3s;
  margin: 20px;
  width: 50px;
  color: white;
  target-new: tab;
  -webkit-filter: invert(0.7);
  filter: invert(0.7);
}

.social-dark:hover, .social-dark:focus, .social-dark:active{
  -webkit-filter: invert(0.3);
  filter: invert(0.3);
}
.social:hover, .social:focus, .social:active{
  -webkit-filter: invert(1);
  filter: invert(1);
}
